{% extends 'base.html' %}

{% load static %}

{% block title %}
    Xatni tahrirlash -
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Toshkent Davlat Stomatologiya Intituti</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{% url 'main:welcome' %}">Dashboard</a></li>
                        <li class="active">Xatni tahrirlash</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-12 mt-3">
        <div class="card">
            <div class="card-header">
                <strong>
                    {{ manager.id }} - xatni
                </strong> taxrirlash
                <br>
                <strong>
                    qisqacha mazmuni:
                </strong>
                {{ manager.letter.resolution }}
            </div>
            <div class="card-body card-block">
                <form action="{% url 'main:manager-update' manager.id %}" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    {% csrf_token %}

                    <div class="col col-lg-6">
                        <!-- Nazorat kartasining turi:  Тип РКК-->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Nazorat kartasining turi
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="control_card" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.control_card.id }}">
                                        {{ manager.letter.control_card }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- Guruhi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Guruh:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="group" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.group.id }}">
                                        {{ manager.letter.group }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- Корреспондент Muhbir -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Muhbir:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="reporter" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.reporter.id }}">
                                        {{ manager.letter.reporter }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- Тип документа Hujjat turi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Hujjat turi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="document_type" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.document_type.id }}">
                                        {{ manager.letter.document_type }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Ro'yhatga olingan raqami -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Ro'yhatga olingan raqami:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="registration_number"
                                       placeholder="nomer" class="form-control" disabled
                                       value="{{ manager.letter.registration_number }}">
                            </div>
                        </div>
                        <!-- Ro'yhatga olingan sanasi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Ro'yhatga olingan sana:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="registration_date" disabled
                                       class="form-control" value="{{ manager.letter.registration_date|date:'Y-m-d' }}">
                            </div>
                        </div>
                        <!-- Hujjat raqami Дата документа: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Hujjat raqami:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="document_number" disabled
                                       class="form-control" value="{{ manager.letter.document_number }}">
                            </div>
                        </div>
                        <!-- Hujjat sanasi Дата документа: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Hujjat sanasi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="document_date" disabled
                                       class="form-control" value="{{ manager.letter.document_date|date:'Y-m-d' }}">
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Qaror muallifi: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Qaror muallifi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="auth_resolution" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.auth_resolution.id }}">
                                        {{ manager.letter.auth_resolution }}
                                    </option>
                                </select>
                            </div>
                        </div>
                        <!-- Buyruq fayl yuklash: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">
                                    Buyruq:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <a href="{{ manager.check_file.file.url }}" class="btn btn-info" target="_blank">
                                    <i class="fa fa-cloud-download"></i>
                                    <strong>buyruq:</strong>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Muddat Срок: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Bajarilish muddati:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="text-input" name="lifetime" disabled
                                       class="form-control" value="{{ manager.lifetime|date:'Y-m-d' }}">
                            </div>
                        </div>
                        
                    </div>
                   

                    <div class="col col-lg-8">
                        <!-- Yechim turi: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Yechim turi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                {% if manager.control %}
                                    <select name="type_solution" id="select" class="form-control" disabled>
                                        <option value="{{ manager.letter.type_solution.id }}">
                                            {{ manager.letter.type_solution }}
                                        </option>
                                    </select>
                                {% else %}
                                    <select name="type_solution" id="select" class="form-control">
                                        <option value="{{ manager.letter.type_solution.id }}">
                                            {{ manager.letter.type_solution }}
                                        </option>
                                        {% for type_solution in type_solutions %}
                                            <option value="{{ type_solution.id }}">
                                                {{ type_solution.name }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                {% endif %}

                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Markaz yoki bo'lim:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="control_card" id="select" class="form-control" disabled>
                                    <option value="{{ manager.letter.control_card.id }}">
                                        {{ manager.center }}
                                    </option>
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-4">
                        <div class="row form-group">
                            <div class="col col-md-2">
                                <label for="text-input" class="form-control-label">
                                    Xulosa:
                                </label>
                            </div>
                            <div class="col col-md-10">
                                {% if manager.control %}
                                    <input type="text" id="text-input" name="summary" disabled
                                           value="{{ manager.letter.summary }}" class="form-control">
                                {% elif manager.letter.summary %}
                                    <input type="text" id="text-input" name="summary"
                                           value="{{ manager.letter.summary }}" class="form-control">
                                {% else %}
                                    <input type="text" id="text-input" name="summary"
                                           placeholder="Xulosa" class="form-control">
                                {% endif %}

                            </div>
                        </div>

                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">
                                    Javob xat:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                {% if manager.control_file %}
                                    <a href="{{ manager.check_file.file.url }}" class="btn btn-info" target="_blank">
                                        <i class="fa fa-cloud-download"></i>
                                        <strong>Javob xat:</strong>
                                    </a>
                                {% else %}
                                    <input type="file" id="file-input" name="control_file" required
                                           class="form-control-file">
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-12">
                        <div class="col col-lg-6">
                            {% if manager.control_file %}
                                <div class="row form-group">
                                    <div class="col col-md-3">
                                        <label for="file-input" class=" form-control-label">
                                            Nazorat:
                                        </label>
                                    </div>
                                    <div class="col col-md-9">
                                        <div class="form-check-inline form-check">
                                            {% if manager.control %}
                                                <label for="inline-radio1" class="form-check-label mr-3">
                                                    <input type="radio" id="inline-radio1" name="control" value="True"
                                                           class="form-check-input" checked>Tasdiqlangan
                                                </label>
                                                <label for="inline-radio2" class="form-check-label">
                                                    <input type="radio" id="inline-radio2" name="control" value="False"
                                                           class="form-check-input">Tasdiqlanmagan
                                                </label>
                                            {% else %}
                                                <label for="inline-radio1" class="form-check-label mr-3">
                                                    <input type="radio" id="inline-radio1" name="control" value="True"
                                                           class="form-check-input">Tasdiqlangan
                                                </label>
                                                <label for="inline-radio2" class="form-check-label">
                                                    <input type="radio" id="inline-radio2" name="control" value="False"
                                                           class="form-check-input" checked>Tasdiqlanmagan
                                                </label>
                                            {% endif %}

                                        </div>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col col-lg-6">
                            {% if manager.control %}
                                <a class="btn btn-success btn-group-md" href="{% url 'main:welcome' %}">
                                    <i class="fa fa-arrow-left"></i>
                                    Ortga qaytish
                                </a>
                            {% else %}
                                <a class="btn btn-success btn-group-md" href="{% url 'main:welcome' %}">
                                    <i class="fa fa-arrow-left"></i>
                                    Ortga qaytish
                                </a>
                                <button type="submit" class="btn btn-success btn-group-md">
                                    <i class="fa fa-pencil"></i>
                                    O'zgartirish
                                </button>
                            {% endif %}
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
