{% extends 'base.html' %}

{% load static %}

{% block title %}
    Xat qo'shish -
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Toshkent Davlat Stomatologiya Intituti</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li><a href="{% url 'main:welcome' %}">Dashboard</a></li>
                        <li class="active">Xat qo'shish</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>


    <div class="col-lg-12 mt-3">
        <div class="card">
            <div class="card-header">
                <strong>Xat</strong> qo'shish
            </div>
            <div class="card-body card-block">
                <form action="{% url 'main:manager-add' %}" method="post" enctype="multipart/form-data"
                      class="form-horizontal">
                    {% csrf_token %}

                    <div class="col col-lg-6">
                        <!-- Nazorat kartasining turi:  Тип РКК-->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Nazorat kartasining turi
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="control_card" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for control_card in control_cards %}
                                        <option value="{{ control_card.id }}">
                                            {{ control_card.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Guruhi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Guruh:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="group" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for group in groups %}
                                        <option value="{{ group.id }}">
                                            {{ group.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Корреспондент Muhbir -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Muhbir:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="reporter" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for reporter in reporters %}
                                        <option value="{{ reporter.id }}">
                                            {{ reporter.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Тип документа Hujjat turi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Hujjat turi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="document_type" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for document_type in document_types %}
                                        <option value="{{ document_type.id }}">
                                            {{ document_type.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Ro'yhatga olingan raqami -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Ro'yhatga olingan raqami:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="registration_number"
                                       placeholder="nomer" class="form-control" required>
                            </div>
                        </div>
                        <!-- Ro'yhatga olingan sanasi -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Ro'yhatga olingan sana:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="text-input" name="registration_date"
                                       placeholder="sana" class="form-control" required>
                            </div>
                        </div>
                        <!-- Hujjat raqami Дата документа: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Hujjat raqami:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="document_number"
                                       placeholder="nomer" class="form-control" required>
                            </div>
                        </div>
                        <!-- Hujjat sanasi Дата документа: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Hujjat sanasi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="text-input" name="document_date"
                                       placeholder="sana" class="form-control" required>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Qaror muallifi: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Qaror muallifi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="auth_resolution" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for author_resolution in author_resolutions %}
                                        <option value="{{ author_resolution.id }}">
                                            {{ author_resolution.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <!-- Yechim turi: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="select" class=" form-control-label">
                                    Yechim turi:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <select name="type_solution" id="select" class="form-control">
                                    <option value="">----</option>
                                    {% for type_solution in type_solutions %}
                                        <option value="{{ type_solution.id }}">
                                            {{ type_solution.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-6">
                        <!-- Muddat Срок: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Bajarilish muddati:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="date" id="text-input" name="lifetime"
                                       placeholder="sana" class="form-control" required>
                            </div>
                        </div>
                        <!-- Rezolutsiya Резолюция: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="text-input" class="form-control-label">
                                    Rezolutsiya:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="text" id="text-input" name="resolution"
                                       placeholder="Rezolutsiya" class="form-control">
                            </div>
                        </div>
                    </div>

                    <div class="col col-lg-12">
                        <!-- Buyruq fayl yuklash: -->
                        <div class="row form-group">
                            <div class="col col-md-3">
                                <label for="file-input" class=" form-control-label">
                                    Buyruq:
                                </label>
                            </div>
                            <div class="col-12 col-md-9">
                                <input type="file" id="file-input" name="check_file"
                                       class="form-control-file">
                            </div>
                        </div>

                        <div class="col col-lg-12">
                            <label for="centers">
                                Bo'limlarni tanlang:
                            </label>
                            <label for="cars"></label>
                            <select name="centers" id="cars" multiple="multiple"
                                    style="width: 350px" size="10">
                                {% for center in centers %}
                                    <option value="{{ center.id }}">
                                        {{ center }}
                                    </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <button type="submit" class="col-lg-3 btn btn-success btn-group-md m-5">
                        <i class="fa fa-check"></i>
                        Saqlash
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
