{% extends 'base.html' %}

{% load static %}

{% block title %}
    Dashboard -
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Toshkent Davlat Stomatologiya Intituti</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <li class="active">Dashboard</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">

        <div class="col-sm-12">
            <div class="alert  alert-success alert-dismissible fade show" role="alert">
                <span class="badge badge-pill badge-success">
                    Success
                </span>
                You successfully read this important alert message.
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        </div>

        <div class="col-lg-3 col-md-6">
            <div class="social-box facebook">
                <i class="fa fa-folder-open"></i>
                <ul>
                    <li>
                        <span class="count">{{ total }}</span>
                    </li>
                    <li><span>Barcha xatlar</span></li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->


        <div class="col-lg-3 col-md-6">
            <div class="social-box twitter">
                <i class="fa fa-check"></i>
                <ul>
                    <li>
                        <span class="count">
                            {{ done }}
                        </span>

                    </li>
                    <li>
                        <span>Bajarilgan</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->


        <div class="col-lg-3 col-md-6">
            <div class="social-box linkedin">
                <i class="fa  fa-clock-o"></i>
                <ul>
                    <li>
                        <span class="count">
                            {{ has_deadline }}
                        </span>

                    </li>
                    <li>
                        <span>Bajarish mumkin</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->


        <div class="col-lg-3 col-md-6">
            <div class="social-box google-plus">
                <i class="fa fa-exclamation"></i>
                <ul>
                    <li>
                    <span class="count">
                        {{ expired }}
                    </span>
                    </li>
                    <li>
                        <span>Yopilmagan</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12" id="table-container">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Xatlar</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reg / №</th>
                                        <th>Reg sana</th>
                                        <th>Nazorat kartasi</th>
                                        <th>Hujjat turi</th>
                                        <th>Muhbir</th> <!-- Корреспондент Muhbir -->
                                        <th>Muddat</th>
                                        <th>Sozlamalar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for manager in managers %}
                                        <tr>
                                            <td>
                                                {{ forloop.counter }}
                                            </td>
                                            <td>
                                                {{ manager.letter.registration_number }}
                                                / {{ manager.letter.document_number }}
                                            </td>
                                            <td>
                                                {{ manager.letter.registration_date|date:'d-m-Y' }}
                                            </td>
                                            <td>
                                                {{ manager.letter.control_card }}
                                            </td>
                                            <td>
                                                {{ manager.letter.document_type }}
                                            </td>
                                            <td>
                                                {{ manager.letter.reporter }}
                                            </td>
                                            <td>
                                                {{ manager.lifetime|date:'d-m-Y' }}
                                            </td>
                                            <td>
                                                <a href="#"
                                                   class="btn btn-outline-danger">
                                                    O'chirish
                                                </a>
                                                <a href="{% url 'main:manager-update' manager.id %}"
                                                   class="btn btn-outline-primary">
                                                    O'zgartirish
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div>

    </div><!-- .content -->


{% endblock %}
