{% extends 'base.html' %}

{% load static %}

{% block title %}
    Dashboard -
{% endblock %}

{% block content %}
    <div class="breadcrumbs">
        <div class="col-sm-4">
            <div class="page-header float-left">
                <div class="page-title">
                    <h1>Toshkent Davlat Stomatologiya Intituti</h1>
                </div>
            </div>
        </div>
        <div class="col-sm-8">
            <div class="page-header float-right">
                <div class="page-title">
                    <ol class="breadcrumb text-right">
                        <ol class="breadcrumb text-right">
                            <li>
                                <a href="{% url 'main:welcome' %}">
                                    Dashboard
                                </a>
                            </li>
                        </ol>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="content mt-3">
        <!-- Barcha -->
        <div class="col-lg-3 col-md-6">
            <div class="social-box facebook">
                <i class="fa fa-folder-open"></i>
                <ul>
                    <li>
                        <span class="count">{{ total }}</span>
                    </li>
                    <li><span>Barcha xatlar</span></li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->
        <!-- Bajarilgan -->
        <div class="col-lg-3 col-md-6">
            <div class="social-box twitter">
                <i class="fa fa-check"></i>
                <ul>
                    <li>
                        <span class="count">
                            {{ done }}
                        </span>
                    </li>
                    <li>
                        <span>Bajarilgan</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->
        <!-- Bajarish mumkin -->
        <div class="col-lg-3 col-md-6">
            <div class="social-box linkedin">
                <i class="fa  fa-clock-o"></i>
                <ul>
                    <li>
                        <span class="count">
                            {{ has_deadline }}
                        </span>
                    </li>
                    <li>
                        <span>Bajarish mumkin</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->

        <!-- Yopilmagan -->
        <div class="col-lg-3 col-md-6">
            <div class="social-box google-plus">
                <i class="fa fa-exclamation"></i>
                <ul>
                    <li>
                        <span class="count">
                            {{ expired }}
                        </span>
                    </li>
                    <li>
                        <span>Yopilmagan</span>
                    </li>
                </ul>
            </div>
            <!--/social-box-->
        </div>
        <!--/.col-->

        <div class="content mt-3">
            <div class="animated fadeIn">
                <div class="row">
                    <div class="col-md-12" id="table-container">
                        <div class="card">
                            <div class="card-header">
                                <strong class="card-title">Xatlar</strong>
                            </div>
                            <div class="card-body">
                                <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>Reg / №</th>
                                        <th>Reg / sana</th>
                                        <th>Qisqacha mazmun</th>
                                        <th>Hujjat turi</th>
                                        {% if request.user.is_superuser %}
                                            <th>Markaz</th>
                                        {% endif %}
                                        <th>Muddat</th>
                                        <th>Sozlamalar</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for manager in managers %}
                                        <tr class="{% if manager.control %} bg-success text-white {% elif manager.time_today %} bg-info text-white {% elif manager.time_off %} bg-warning text-white {% endif %}">

                                            <td>
                                                {{ manager.id }}
                                            </td>
                                            <td>
                                                {{ manager.letter.registration_number }}
                                                / {{ manager.letter.document_number }}
                                            </td>
                                            <td>
                                                {{ manager.letter.registration_date|date:'d-m-Y' }} /
                                                {{ manager.letter.document_date|date:'d-m-Y' }}
                                            </td>

                                            <td>
                                                {{ manager.letter.resolution }}
                                            </td>

                                            <td>
                                                {{ manager.letter.document_type }}
                                            </td>
                                            {% if request.user.is_superuser %}
                                                <td>
                                                    {{ manager.center.name }}
                                                </td>
                                            {% endif %}

                                            <td>
                                                {{ manager.lifetime|date:'d-m-Y' }}
                                            </td>
                                            <td>
                                                {% if manager.control %}
                                                    <a href="{% url 'main:manager-update' manager.id %}"
                                                       class="btn btn-dark">
                                                        Ko'rish
                                                    </a>
                                                {% else %}
                                                    <a href="{% url 'main:manager-update' manager.id %}"
                                                       class="btn btn-primary">
                                                        O'zgartirish
                                                    </a>
                                                {% endif %}
                                                {% if request.user.is_superuser %}
                                                    <a href="{% url 'main:manager-delete' manager.id %}"
                                                       class="btn btn-danger">
                                                        O'chirish
                                                    </a>
                                                {% endif %}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .animated -->
        </div>
    </div><!-- .content -->

{% endblock %}
