<!doctype html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %} E-xat Platform</title>

    <meta name="description" content="Toshkent Davlat Stomatologiya Instituti raqamli hujjat almashish">

    <link rel="apple-touch-icon" href="{% static 'images/favicon.ico' %}">
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'vendors/bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/themify-icons/css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/flag-icon-css/css/flag-icon.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/selectFX/css/cs-skin-elastic.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/jqvmap/dist/jqvmap.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-bs4/css/dataTables.bootstrap4.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css' %}">


    <link rel="stylesheet" href="{% static 'vendors/chosen/chosen.min.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/style.css' %}">

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800' rel='stylesheet' type='text/css'>


</head>
<body>

<!-- Left Panel -->

<aside id="left-panel" class="left-panel">
    <nav class="navbar navbar-expand-sm navbar-default">

        <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-menu"
                    aria-controls="main-menu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand" href="{% url 'main:welcome' %}">
                E-xat TSDI
            </a>
            <a class="navbar-brand hidden" href="{% url 'main:welcome' %}">
                xat
            </a>
        </div>

        <div id="main-menu" class="main-menu collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active">
                    <a href="{% url 'main:welcome' %}">
                        <i class="menu-icon fa fa-dashboard"></i>
                        Dashboard
                    </a>
                </li>
                <h3 class="menu-title">
                    Xatlar
                </h3><!-- /.menu-title -->
                <li>
                    <a href="{% url 'main:welcome' %}">
                        <i class="menu-icon fa fa-check"></i>
                        Barcha xatlar
                    </a>
                </li>
                <li>
                    <a href="{% url 'main:today' %}">
                        <i class="menu-icon fa fa-clock-o"></i>
                        Bugungi xatlar
                    </a>

                </li>
                <li>
                    <a href="{% url 'main:finish' %}">
                        <i class="menu-icon fa fa-check"></i>
                        Bajarilgan xatlar
                    </a>
                </li>
                <li>
                    <a href="{% url 'main:timeout' %}">
                        <i class="menu-icon fa fa-exclamation"></i>
                        Yopilmagan xatlar
                    </a>
                </li>
            
                {% if request.user.is_superuser %}
                    <h3 class="menu-title">
                        Yangi xat
                    </h3><!-- /.menu-title -->
                    <li>
                        <a href="{% url 'main:manager-add' %}">
                            <i class="menu-icon fa fa-plus-square"></i>
                            Yangi xat yaratish
                        </a>
                    </li>
                    
                    <h3 class="menu-title">Xodimlar</h3><!-- /.menu-title -->
                    <li>
                        <a href="{% url 'main:centers' %}">
                            <i class="menu-icon fa fa-gears (alias)"></i>
                            Markaz va Bo'lim
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'main:users' %}">
                            <i class="menu-icon fa fa-users"></i>
                            Xodimlar
                        </a>
                    </li>
                    <li class="menu-item-has-children dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false"> <i class="menu-icon fa fa-laptop"></i>Jadvallar</a>
                        <ul class="sub-menu children dropdown-menu">
                            <li>
                                <i class="fa fa-puzzle-piece"></i>
                                <a href="{% url 'table:control_cards' %}">
                                    Nazorat kartasi
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-id-badge"></i>
                                <a href="{% url 'table:groups' %}">
                                    Guruhi
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-bars"></i>
                                <a href="{% url 'table:reporters' %}">
                                    Muhbir
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-share-square-o"></i>
                                <a href="{% url 'table:document_types' %}">
                                    Hujjat turi
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-id-card-o"></i>
                                <a href="{% url 'table:author_resolutions' %}">
                                    Qaror muallifi
                                </a>
                            </li>
                            <li>
                                <i class="fa fa-exclamation-triangle"></i>
                                <a href="{% url 'table:type_solutions' %}">
                                    Yechim turi
                                </a>
                            </li>
                        </ul>
                    </li>
                {% endif %}

            </ul>
        </div><!-- /.navbar-collapse -->
    </nav>
</aside><!-- /#left-panel -->

<!-- Left Panel -->

<!-- Right Panel -->

<div id="right-panel" class="right-panel">

    <!-- Header-->
    <header id="header" class="header">

        <div class="header-menu">

            <div class="col-sm-7">
                <a id="menuToggle" class="menutoggle pull-left"><i class="fa fa fa-tasks"></i></a>
                <div class="header-left">
                    <button class="search-trigger"><i class="fa fa-search"></i></button>
                    <div class="form-inline">
                        <form class="search-form">
                            <input class="form-control mr-sm-2" type="text" placeholder="Search ..."
                                   aria-label="Search">
                            <button class="search-close" type="submit">
                                <i class="fa fa-close"></i>
                            </button>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-sm-5">
                <div class="user-area dropdown float-right">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false">
                        <img class="user-avatar rounded-circle" src="{% static 'images/admin.jpg' %}" alt="User Avatar">
                    </a>

                    <div class="user-menu dropdown-menu">
                        <a class="nav-link" href="#">
                            <i class="fa fa-user"></i>
                            {{ request.user.username }}
                        </a>

                        <a class="nav-link" href="#">
                            <i class="fa fa-user"></i>
                            {{ center.name }}
                        </a>

                        <a class="nav-link" href="{% url 'main:logout' %}">
                            <i class="fa fa-power-off"></i>
                            Logout
                        </a>
                    </div>
                </div>

            </div>
        </div>

    </header><!-- /header -->
    <!-- Header-->


    {% block content %}

    {% endblock %}

</div><!-- /#right-panel -->


<script src="{% static 'vendors/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'vendors/popper.js/dist/umd/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>
<script src="{% static 'vendors/chosen/chosen.jquery.min.js' %}"></script>


<script src="{% static 'vendors/chart.js/dist/Chart.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/dashboard.js' %}"></script>
<script src="{% static 'assets/js/widgets.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/jquery.vmap.min.js' %}"></script>
<script src="{% static 'vendors/jqvmap/examples/js/jquery.vmap.sampledata.js' %}"></script>
<script src="{% static 'vendors/jqvmap/dist/maps/jquery.vmap.world.js' %}"></script>
<script>


    (function ($) {
        "use strict";

        let sample_data;
        jQuery('#vmap').vectorMap({
            map: 'world_en',
            backgroundColor: null,
            color: '#ffffff',
            hoverOpacity: 0.7,
            selectedColor: '#1de9b6',
            enableZoom: true,
            showTooltip: true,
            values: sample_data,
            scaleColors: ['#1de9b6', '#03a9f5'],
            normalizeFunction: 'polynomial'
        });
    })(jQuery);
</script>

<script src="{% static 'vendors/datatables.net/js/jquery.dataTables.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-bs4/js/dataTables.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/dataTables.buttons.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons-bs4/js/buttons.bootstrap4.min.js' %}"></script>
<script src="{% static 'vendors/jszip/dist/jszip.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/pdfmake.min.js' %}"></script>
<script src="{% static 'vendors/pdfmake/build/vfs_fonts.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.html5.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.print.min.js' %}"></script>
<script src="{% static 'vendors/datatables.net-buttons/js/buttons.colVis.min.js' %}"></script>
<script src="{% static 'assets/js/init-scripts/data-table/datatables-init.js' %}"></script>

</body>
</html>